x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:

  mongodb:
    <<: *default-logging
    image: mongo:7
    volumes:
      - ./mongodb_data:/data/db
      - ./mongodb_config:/data/configdb
    ports:
      - "27017:27017"
    restart: unless-stopped

  mongodb-exporter:
    image: percona/mongodb_exporter:0.47.2
    environment:
      MONGODB_URI: "mongodb://mongodb.local:27017"
    ports:
      - "9216:9216"
    extra_hosts:
      - "mongodb.local:host-gateway"
    links:
      - mongodb:mongodb
    depends_on:
      - mongodb
    restart: unless-stopped

  opensearch:
    <<: *default-logging
    image: opensearchproject/opensearch:2
    environment:
      OPENSEARCH_JAVA_OPTS: '-Xms512m -Xmx512m'
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: 'Password.32bit:!'
      discovery.type: single-node
      bootstrap.memory_lock: true
      action.auto_create_index: false
      plugins.security.ssl.http.enabled: false
      plugins.security.disabled: true
      cluster.routing.allocation.disk.threshold_enabled: false # это отключит проверку места, но если диск физически кончится, база данных может повредиться
    volumes:
      - ./opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    restart: unless-stopped

  opensearch-dashboards:
    <<: *default-logging
    image: opensearchproject/opensearch-dashboards:2
    environment:
      OPENSEARCH_HOSTS: 'http://opensearch.local:9200'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    ports:
      - "5601:5601"
    extra_hosts:
      - "opensearch.local:host-gateway"
    depends_on:
      - opensearch
    restart: unless-stopped

  graylog:
    <<: *default-logging
    image: graylog/graylog:7.0
    environment:
      GRAYLOG_PASSWORD_SECRET: 'Password.32bit:!'
      GRAYLOG_ROOT_PASSWORD_SHA2: '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918' # пароль админа: admin
      GRAYLOG_HTTP_BIND_ADDRESS: '0.0.0.0:9000'
      GRAYLOG_REPORT_DISABLE_SANDBOX: true
      GRAYLOG_ELASTICSEARCH_HOSTS: 'http://opensearch.local:9200'
      GRAYLOG_MONGODB_URI: 'mongodb://mongodb.local:27017/graylog'
      GRAYLOG_PROMETHEUS_EXPORTER_ENABLED: true
      GRAYLOG_PROMETHEUS_EXPORTER_BIND_ADDRESS: '0.0.0.0:9833'
    volumes:
      - ./graylog_data:/usr/share/graylog/data/data
      - ./graylog_journal:/usr/share/graylog/data/journal
    network_mode: bridge
    ports:
      - "9000:9000/tcp" # Graylog web interface and REST API
      - "5044:5044/tcp" # Beats
      - "5140:5140/tcp" # Syslog TCP
      - "5140:5140/udp" # Syslog UDP
      - "9833:9833/tcp" # метрики Graylog
      - "12201:12201/tcp" # GELF TCP
      - "12201:12201/udp" # GELF UDP
      - "13301:13301/tcp" # Forwarder data
      - "13302:13302/tcp" # Forwarder config
    extra_hosts:
      - "mongodb.local:host-gateway"
      - "opensearch.local:host-gateway"
    depends_on:
      - mongodb
      - opensearch
    restart: unless-stopped

