x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  # ХРАНИЛИЩЕ
  opensearch:
    <<: *default-logging
    image: opensearchproject/opensearch:latest
    environment:
      OPENSEARCH_JAVA_OPTS: '-Xms512m -Xmx512m'
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: 'Password.32bit:!'
      discovery.type: single-node
      bootstrap.memory_lock: 'true'
      action.auto_create_index: 'true'  # вектор должен создавать индексы
      plugins.security.ssl.http.enabled: 'false'
      plugins.security.disabled: 'true'
      cluster.routing.allocation.disk.threshold_enabled: 'false' # это отключит проверку места, но если диск физически кончится, база данных может повредиться
    volumes:
      - ./opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    restart: unless-stopped

  # ВИЗУАЛИЗАЦИЯ
  opensearch-dashboards:
    <<: *default-logging
    image: opensearchproject/opensearch-dashboards:latest
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: 'true'
      I18N_LOCALE: 'ru-RU'
      DATA_SOURCE_ENABLED: "true"
      OPENSEARCH_DASHBOARDS_DATA_SOURCE_ENABLED: "true" 
      WORKSPACE_ENABLED: "true"
      EXPLORE_ENABLED: "true"
    ports:
      - "5601:5601"
    depends_on:
      - opensearch
    restart: unless-stopped

  # СБОРЩИК
  vector:
    <<: *default-logging
    image: timberio/vector:0.34.1-debian
    container_name: vector
    hostname: vector
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./vector.yml:/etc/vector/vector.yml
    ports:
      - "0.0.0.0:9160:9160" # метрики
      - "0.0.0.0:24224:24224" # локальный приёмник
    depends_on:
      - opensearch
    restart: unless-stopped
