services:

  mongodb:
    image: mongo:latest
    volumes:
      - ./mongo_data:/data/db
    restart: unless-stopped

  opensearch:
    image: opensearchproject/opensearch:latest
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "plugins.security.disabled=true"
    ulimits:
      memlock: { soft: -1, hard: -1 }
    volumes:
      - ./opensearch_data:/usr/share/opensearch/data
    restart: unless-stopped

  graylog:
    image: graylog/graylog:7.0
    environment:
      GRAYLOG_PASSWORD_SECRET: "8c6976e5b5410415bd"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://graylog.local:9000/"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
      GRAYLOG_PROMETHEUS_EXPORTER_ENABLED: "true"
      GRAYLOG_PROMETHEUS_EXPORTER_BIND_ADDRESS: "0.0.0.0:9833"
    ports:
      - "9000:9000"
      - "12201:12201/udp"
      - "1514:1514/udp"
      - "9833:9833"
    depends_on:
      - mongodb
      - opensearch
    restart: unless-stopped
