x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"


services:

  # ХРАНИЛИЩЕ
  wazuh-indexer:
    image: wazuh/wazuh-indexer:5.0.0
    container_name: wazuh-indexer
    hostname: wazuh-indexer
    environment:
      OPENSEARCH_JAVA_OPTS: -Xms1g -Xmx1g
      KV_PASSWORD: admin
    volumes:
      - ./wazuh_indexer_data:/var/lib/wazuh-indexer
    ulimits:
      memlock: { soft: -1, hard: -1 }
      nofile: { soft: 65536, hard: 65536 }
    restart: unless-stopped

  # УПРАВЛЕНИЕ
  wazuh-manager:
    image: wazuh/wazuh-manager:5.0.0
    container_name: wazuh-manager
    hostname: wazuh-manager
    environment:
      INDEXER_URL: https://wazuh-indexer:9200
      INDEXER_USER: admin
      INDEXER_PASSWORD: admin
    volumes:
      - ./wazuh_etc:/var/ossec/etc
      - ./wazuh_logs:/var/ossec/logs
    depends_on:
      - wazuh-indexer
    restart: unless-stopped

  # ВИЗУАЛИЗАЦИЯ
  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:5.0.0
    container_name: wazuh-dashboard
    hostname: wazuh-dashboard
    environment:
      INDEXER_URL: https://wazuh-indexer:9200
      WAZUH_API_URL: https://wazuh-manager:55000
      I18N_LOCALE: ru-RU
      INDEXER_TLS_SKIP_VERIFICATION: true
      WAZUH_API_TLS_SKIP_VERIFICATION: true
    ports:
      - "5601:5601"
    depends_on:
      - wazuh-indexer
    restart: unless-stopped

  # СБОРЩИК
  vector:
    image: timberio/vector:0.34.1-debian
    container_name: vector
    hostname: vector
    volumes:
      - ./vector.toml:/etc/vector/vector.toml:ro
    ports:
      - "24224:24224"
    depends_on:
      - wazuh-indexer
    restart: unless-stopped
