[sources.docker_in]
  type = "fluent"
  address = "0.0.0.0:24224"

[transforms.processing]
  type = "remap"
  inputs = ["docker_in"]
  source = """
  # Определяем имя контейнера
  .container_name = replace(string!(.tag), "docker.", "")
  .timestamp = now()

  # Парсим JSON если он есть
  if can_be_parsed_as_json(.message) {
      .data = parse_json!(.message)
  }
  del(.tag)
  """

[sinks.to_indexer]
  type = "elasticsearch"
  inputs = ["processing"]
  endpoint = "https://wazuh-indexer:9200"
  mode = "bulk"
  
  auth.strategy = "basic"
  auth.user = "admin"
  auth.password = "admin"

  # Пропуск проверок SSL для работы с самоподписанными сертификатами v5.0.0
  tls.verify_certificate = false
  tls.verify_hostname = false

  index = "docker-logs-{{ container_name }}-%Y-%m-%d"
  suppress_type_name = true
