data_dir = "/var/lib/vector"

##
## Sources
##

[sources.internal_metrics]
  type = "internal_metrics"

[sources.fluent]
  type = "fluent"
  address = "0.0.0.0:24224"

##
## Transforms
##

##
## Sinks
##

[sinks.prometheus]
  type = "prometheus_exporter"
  inputs = ["internal_metrics"]
  address = "0.0.0.0:9090"

[sinks.elasticsearch]
  type = "elasticsearch"
  inputs = [ "fluent"]
  endpoint = "http://opensearch:9200"
  mode = "bulk"
  index = "logs-%Y.%m.%d"
  compression = "gzip"
