data_dir = "/var/lib/vector"

[api]
  enabled = true
  address = "0.0.0.0:8686"

##
## Sources
##

[sources.internal_metrics]
  type = "internal_metrics"

[sources.docker]
  type = "docker_logs"

[sources.fluent]
  type = "fluent"
  address = "0.0.0.0:24224"

##
## Transforms
##

##
## Sinks
##

[sinks.prometheus]
  type = "prometheus_exporter"
  inputs = ["internal_metrics"]
  address = "0.0.0.0:9160"

[sinks.elasticsearch]
  type = "elasticsearch"
  inputs = [ "fluent"]
  endpoint = "http://opensearch:9200"
  mode = "bulk"
  index = "logs-%Y.%m.%d"
  compression = "gzip"


[sinks.opensearch]
  type = "elasticsearch"
  inputs = ["docker"]
  endpoint = "http://opensearch:9200"
  index = "logs-docker"
  mode = "bulk"
  compression = "none"
  batch.max_events = 200
  batch.timeout_secs = 5