[sources.docker_in]
  type = "fluent"
  address = "0.0.0.0:24224"

[transforms.processing]
  type = "remap"
  inputs = ["docker_in"]
  source = ".container_name = replace(string!(.tag), \"monitoring-\", \"\")"

[sinks.to_opensearch]
  type = "elasticsearch"
  inputs = ["processing"]
  endpoint = "http://opensearch:9200"
  index = "monitoring-logs-%Y-%m-%d"
  suppress_type_name = true
