[sources.docker_in]
  type = "fluent"
  address = "0.0.0.0:24224"

[transforms.processing]
  type = "remap"
  inputs = ["docker_in"]
  source = """
  .container_name = replace(string!(.tag), "docker.", "")
  .timestamp = now()
  if can_be_parsed_as_json(.message) {
      .data = parse_json!(.message)
  }
  del(.tag)
  """

[sinks.to_indexer]
  type = "elasticsearch"
  inputs = ["processing"]
  endpoint = "http://wazuh-indexer:9200" # БЕЗ HTTPS
  mode = "bulk"
  index = "logs-{{ container_name }}-%Y-%m-%d"
  suppress_type_name = true
